<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>列表页</title>
    <link rel="stylesheet" href="../static/css/vendor.min.css">
    <link rel="stylesheet" href="../static/css/main.min.css">
</head>
<body id="bby">
<header>

</header>
<nav>
    <ul>
        {% for item in nav_list %}
        <li>{{item.name}}</li>
        {% endfor %}
    </ul>
</nav>
<div class="transfer-list">
    <ul>
        {% for item in info_list %}
        <li>
            <a href="/detail/{{item.id}}">
            <img src="{{item.photoUrl}}" alt="图片" class="info-img">
            <div class="info-detail">
                <p class="info-title">{{item.title}}</p>
                <p><span>{{item.industryName}}</span><span>{{item.districtName}}</span></p>
                <p><span>面积: <span>{{item.area}}</span></span>
                    {% if item.type==1 %}
                    <span>租金: <span>{{item.rent/100}}</span>{{item.rentMeasureName}}</span>
                    {% else %}
                    <span>转让费: <span>{{item.transferFee/1000000}}</span>万元</span>
                    {% endif %}
                </p>
            </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<script src="../static/js/vendor.min.js"></script>
<script src="../static/js/main.min.js"></script>

</body>
</html>